#benefits {
	position:relative; 

	h3 {
		color: #A1D285;
	}

	h4 {
		cursor:pointer;
		margin:0 -15px;
		padding:10px 0;
	}

	p {
		font-size:.9em;
		margin:0 0 40px;
	}

	ul {
		list-style-type:none;
		margin:0 -15px;
		max-height:0;
		overflow:hidden;
		padding:0 15px;
		transition:max-height .4s ease 0s;
	}

	li {
		margin:0 0 10px;

		&:last-child {
			margin:0;
		}
	}

	.open + ul {
		max-height:500px;
		padding:10px 15px;
	}

	@media (min-width:$screen-md) {
		background:url('../images/background-shapes.png') fixed no-repeat;
		background-size:cover;
		padding:430px 15px 630px;

		p {
			margin:0 0 80px;
		}

		&:before {
			content:'';
		  	display:block;
		  	width:4px;
		  	height:400px;
		  	margin: 0 0 0 -2px;
		  	background:#A1D285;
		  	position:absolute;
		  	top:30px;
		  	left:50%;
		}

		&:after {
			content:'';
		  	display:block;
		  	width:4px;
		  	height:600px;
		  	margin: 0 0 0 -2px;
		  	background: #79c496;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#79c496), color-stop(50%,#27a7ba));
			background: -webkit-linear-gradient(top,  #79c496 50%,#27a7ba 50%);
			background: -o-linear-gradient(top,  #79c496 50%,#27a7ba 50%);
			background: linear-gradient(to bottom,  #79c496 50%,#27a7ba 50%);
		  	position:absolute;
		  	bottom:60px;
		  	left:50%;
		}

		h3 {
			color:#fff;
		}

		h4 {
			margin:0 0 90px;
		}

		ul {
			background: #638DA9;
			border-radius:5px;
			bottom:100%;
			display:none;
			font-size:.8em;
			margin:0;
			max-height:1000px;
			padding:10px 10px 10px 20px;
			overflow:visible;
			position:absolute;
			text-align:left;

			&:after {
				content:'';
				display:block;
				border-style: solid;
				border-width: 15px 5px 0 5px;
				border-color: #638DA9 transparent transparent transparent;
				height: 0;
				left:50%;
				margin-left:-5px;
				position:absolute;
				bottom:-15px;
				width:10px;
			}
		}

		.open + ul {
			display:block;
			padding:10px 20px;
		}
	}
}

.tooltip-heading {
	position:relative;
}

.pulse-container {
	display:none;

	@media (min-width:$screen-md) {
		display:block;

		img {
			-webkit-animation: pulse 2s linear 0s infinite;
			animation: pulse 2s linear 0s infinite;
		}
	}
}

@-webkit-keyframes pulse {
	0% {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
	50% {
	-webkit-transform: scale3d(1.10, 1.10, 1.10);
	transform: scale3d(1.10, 1.10, 1.10);
	}
	100% {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
}
@keyframes pulse {
	0% {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
	50% {
	-webkit-transform: scale3d(1.10, 1.10, 1.10);
	transform: scale3d(1.10, 1.10, 1.10);
	}
	100% {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
}

@media (max-width:$screen-sm-max) {
	#benefits {
		h4:hover,
		h4.open {
			background: #276289;
		}

		ul {
			background: #638DA9;
		}
	}
}