#benefits {
	position:relative; 

	h3 {
		color: #A1D285;
	}

	h3 + p {
		font-size:.9em;
		margin:0 0 40px;
	}

	h4 {
			border:3px solid $primary-blue;
			cursor:pointer;
			display:inline-block;
			font-size:1.3em;
			margin:5px -15px;
			padding:10px;

			&:hover {
				background: rgba(94, 136, 161,.3);
			}
		}

		h4.js-open {
			background: rgba(94, 136, 161,1);

			&:hover,
			&:active {
				background: rgba(94, 136, 161,1);
			}
		}


	.js-open + p {
		background: $benefits-open-bg-color;
		max-height:500px;
		padding:10px 15px;
	}

	@media (min-width:$screen-md) {
		background:url('../images/background-shapes.png') fixed no-repeat;
		background-size:cover;
		padding:0px 15px 750px;
		margin-top:440px;

		&:after {
			content:'';
		  	display:block;
		  	width:4px;
		  	height:600px;
		  	margin: 0 0 0 -2px;
		  	background: #79c496;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#79c496), color-stop(50%,#27a7ba));
			background: -webkit-linear-gradient(top,  #79c496 50%,#27a7ba 50%);
			background: -o-linear-gradient(top,  #79c496 50%,#27a7ba 50%);
			background: linear-gradient(to bottom,  #79c496 50%,#27a7ba 50%);
		  	position:absolute;
		  	bottom:60px;
		  	left:50%;
		}

		h3 {
			color:#fff;
		}

		h4 {
			margin:10px 0;
		}

		.js-open + p {
			display:none;
		}
	}
}

.tooltip-heading {
	position:relative;

	p {
		margin:0 0 20px;
		max-height:0;
		overflow:hidden;
		padding:0 15px;
		transition:max-height .4s ease 0s;
	}

	@media (min-width:$screen-md) {
		text-align:left;
		margin:0 0 10px;

		p {
			margin:0;
		}

		&:first-child {
			transform: translateX(60px);
		}

		&:nth-child(2) {
			transform: translateX(40px);
		}

		&:nth-child(3) {
			transform: translateX(20px);
		}

		&:nth-child(5) {
			transform: translateX(20px);
		}

		&:nth-child(6) {
			transform: translateX(40px);
		}	
	}
}

.topic-container {
	@include make-md-column(4);
	@include make-md-column-offset(2);
	@include make-lg-column(3);
	@include make-lg-column-offset(3);
	padding:0;

	@media (min-width: 1000px) {
		padding:0 15px;
	}
}

.info-container {
	display:none;
	@include make-md-column(5);
	//@include make-lg-column(4);

	@media (min-width:$screen-md) {
		display:block;
		height:450px;
		-webkit-perspective: 1000;
	    -ms-perspective: 1000;
		perspective: 1000;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
}

.text-back-container,
.text-front-container {
	background:url('../images/icons/hexagon.svg') no-repeat;
	background-size:389px 450px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	height:450px;
	width:389px;
	padding:0 50px;
	-webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	display:flex;
	justify-content: center;
	align-items: center;
	position:absolute;
	left:0;
	top:0;
}

.text-front-container {
	z-index:2;
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(180deg);
}

.text-back-container {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.text-front-container.js-flip {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.text-back-container.js-flip {
	-webkit-transform: rotateY(0deg);
	transform:rotateY(0deg);
	//z-index:3;
}

.js-flip {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-ms-transition: 0.6s;
	-moz-transition: 0.6s;
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
}

@media (max-width:$screen-sm-max) {
	#benefits {
		h4:hover,
		h4.open {
			background: #276289;
		}

		ul {
			background: #638DA9;
		}
	}
}

/* Fixes iOS to always show mobile version. At this time transform is choppy */
.js-ios {
	.info-container {
		display:none;
	}

	.topic-container {
		@include make-md-column(6);
		@include make-md-column-offset(3);
	}

	.tooltip-heading {
		position:relative;
		text-align:center;

		&:first-child {
			transform: translateX(0);
		}

		&:nth-child(2) {
			transform: translateX(0);
		}

		&:nth-child(3) {
			transform: translateX(0);
		}

		&:nth-child(5) {
			transform: translateX(0);
		}

		&:nth-child(6) {
			transform: translateX(0);
		}	
	}
@media (min-width: $screen-md){
	#benefits {
		background:transparent;
	}

	#benefits .js-open + p {
		background-color:transparent;
		display:block;
	}
}
	
} 
	