@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu/ubuntu-r-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu/ubuntu-r-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: 400;
    font-style: normal;

}