header {
	text-align:center;
	padding:10px;

	&:after {
		content:'';
		clear:both;
		display:table;
	}

	@media(min-width:$screen-md) {
		background: $nav-bg-screen-md-color;
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
		padding:0 15px;
		position:fixed;
		top:0;
		width:100%;
		z-index:99;
	}
}

#mainNav {
	background: #fff;
	height:100%;
	overflow-y:scroll;
	position:fixed;
	right:-45%;
	text-align:left;
	top:0;
	transition:all 0.4s ease 0s;
	width:45%;
	z-index:9;

	a {
		color: $steel-blue;
		display:block;
		padding:10px 15px;
		transition:all 0.2s ease 0s;

		&:hover,
		.active {
			background: $platinum;
			text-decoration:none;
		}
	}

	ul {
		list-style-type:none;
		margin:30px 0 0;
		padding:0;
		transition:all 0.4s ease 0s;
	}

	.dropdown-toggle {
		background:transparent;
		color: $steel-blue;
		cursor:pointer;
		font-weight:400;
		text-align:left;
		width:100%;

		&:hover {
			background: $platinum;
		}
	}

	@media(min-width:$screen-md) {
		background:transparent;
		float:left;
		margin:0 0 0 30px;
		overflow-y:visible;
		position:static;
		width:auto;

		ul {
			margin:0;
		}

		li {
			float:left;
			display:block;
			position:relative;

			&:hover {
				background:$nav-hover-color;
			}

		}

		li.active {
			background:$nav-hover-color;
		}

		a {
			color:#fff;
			padding:20px 35px;

			&:hover {
				background:transparent;
			}

			&:hover,
			&:focus,
			&:active {
				text-decoration:none;
			}
		}

		.dropdown-toggle {
			background: $nav-dropdown-button-bg;
			border:1px solid #fff;
			color:#fff;
			margin:14px 10px;
			padding:5px 20px;
			width:auto;

			&:hover {
				background:$nav-dropdown-button-bg;
			}
		}
	}
}

.dropdown {
	max-height:0;
	margin:10px 15px 0;
	overflow:hidden;
	padding:0 0 10px;
	visibility: hidden;
	transition:all 0.4s ease 0s;

	label {
		color: $steel-blue;
		font-size:12px;
	}

	.btn {
		width:100%;
	}

	@media(min-width:$screen-md) {
		background:$nav-hover-color;
		margin:0;
		min-width:500px;
		padding:15px;
		position:absolute;
		right:0;
		top:100%;
		z-index:10;

		label {
			float:left;
			font-size:1em;
			color:#fff;
			padding:0 15px 0 0;
			width:25%;
		}

		.btn {
			border-radius:5px;
			float:right;
			padding:5px 25px;
			width:auto;
		}
	}
}


#mainNav.dropdown-open{
	ul {
		margin-top:0;
	}

	.dropdown-toggle {
		background: $platinum;
	}

	@media (min-width:$screen-md) {
		.dropdown-toggle {
			background:#2D99CC;
		}

		li:nth-child(6) {
			background:$nav-hover-color;
		}
	}
} 

.dropdown-open {
	.dropdown {
		max-height:500px;
		visibility: visible;
	}
}

.logo {
	height:25px;
	width:89px;

	@media(min-width:$screen-md) {
		float:left;
		height:37px;
		margin:12px 0;
		width:132px;
	}
}

.nav-toggle {
	background:transparent;
	border:none;
	display:block;
	position:absolute;
	top:8px;
	right:10px;
	padding:8px;

	@media(min-width:$screen-md) {
		display:none;
	}
}

.icon-bar {
	background: #fff;
	border-radius:2px;
	display:block;
	margin:0 0 4px;
	width:30px;
	height:3px;
}

.nav-open {
	#mainNav {
		right:0;
	}
}

.feedback {
	color: $steel-blue;
	padding:0 15px;

	@media (min-width:$screen-md) {
		color: #fff;
	}
}