#values {
	background: #fff;
	color: #333;
	padding-top:10px;
	padding-bottom:20px;
	position:relative;

	h3 {
		color:#9B9B9B;
		font-family: 'Source Sans Pro';

		&:hover {
			cursor:pointer;
		}

		span {
			color: #9EB7C6;
		}

		span + span {
			color: #606060;
			display:block;
			font-weight:600;
			font-size:1.7em;
			width:100%;
		}
	}

	@media (min-width:$screen-md) {
		background:url('../images/women_glasses_agile.jpg') top center no-repeat;
		background-size:cover;
		padding:200px 15px 150px;
		text-align:left;
		position:relative;

		&:after {
			content:'';
		  	display:block;
		  	width:4px;
		  	height:400px;
		  	margin: 0 0 40px -2px;
		  	background:#A1D285;
		  	position:absolute;
		  	top:105%;
		  	left:50%;
		}

		h3 {
			font-size:2.8em;

			span {
				color: $steel-blue;
			}

			&:hover {
				cursor:auto;
			}
		}
	}
}