$orange : #F5A523;
$green: #A3D485;
$primary-blue: #0099CB;


$nav-bg-screen-md-color: rgba(38, 90, 128, 0.9);
$nav-hover-color : lighten(#2D668E, 5);

$nav-dropdown-button-bg : #2D99CC;

$benefits-open-bg-color: #326487;